.idea/
.venv/
.vscode/

# IDEs omitted settings
apps/*/config/eval
apps/*/config/jdbc-drivers
apps/*/config/javascript/mdn
apps/*/config/settingsRepository
apps/*/config/tasks
apps/*/config/port.lock
apps/*/config/port
apps/*/config/user.web.token
apps/*/config/user.token
apps/*/config/event-log-whitelist/
apps/*/config/inspection/Default.xml
apps/*/config/consoles/db/
apps/*/config/options/androidEditors.xml
apps/*/config/options/androidStudioFirstRun.xml
apps/*/config/options/baseRefactoring.xml
apps/*/config/options/completion.factors.user.xml
apps/*/config/options/databaseDrivers.xml
apps/*/config/options/dimensions.xml
apps/*/config/options/cpp.toolchains.xml
apps/*/config/options/docker.xml
apps/*/config/options/debugger.xml
apps/*/config/options/debugger.renderers.xml
apps/*/config/options/find.xml
apps/*/config/options/instant-run.xml
apps/*/config/options/images.support.xml
apps/*/config/options/jdk.table.xml
apps/*/config/options/KeyPromoterXStatistic.xml
apps/*/config/options/KeyPromoterXSettings.xml
apps/*/config/options/log_highlighting.xml
apps/*/config/options/markdown.xml
apps/*/config/options/other.xml
apps/*/config/options/openinterminal.xml
apps/*/config/options/options.xml
apps/*/config/options/packages.xml
apps/*/config/options/path.macros.xml
apps/*/config/options/project.default.xml
apps/*/config/options/recentProjects.xml
apps/*/config/options/recentProjectDirectories.xml
apps/*/config/options/remote-servers.xml
apps/*/config/options/stubIndex.xml
apps/*/config/options/updates.xml
apps/*/config/options/usage.statistics.xml
apps/*/config/options/runner.layout.xml
apps/*/config/options/window.manager.xml
apps/*/config/options/window.state.xml
apps/*/config/options/web-browsers.xml
apps/*/config/options/workspace.xml
apps/*/config/options/vim_settings.xml
apps/*/config/options$/vim_local_settings.xml
apps/*/config/terminal/history
apps/*/config/workspace
apps/*/system

# omitted plugins files
shared/plugins/availables.xml
shared/plugins/availables.xml.etag
shared/plugins/extensions.xml
