.idea/
.venv/
.vscode/

# IDEs omitted settings
apps/*/consoles/db/
apps/*/eval
apps/*/event-log-whitelist
apps/*/inspection/Default.xml
apps/*/javascript/mdn
apps/*/jdbc-drivers
apps/*/options/KeyPromoterXSettings.xml
apps/*/options/KeyPromoterXStatistic.xml
apps/*/options/androidEditors.xml
apps/*/options/androidStudioFirstRun.xml
apps/*/options/baseRefactoring.xml
apps/*/options/completion.factors.user.xml
apps/*/options/cpp.toolchains.xml
apps/*/options/databaseDrivers.xml
apps/*/options/debugger.renderers.xml
apps/*/options/debugger.xml
apps/*/options/dimensions.xml
apps/*/options/docker.xml
apps/*/options/dslActivationStatus.xml
apps/*/options/extensionsRootType.xml
apps/*/options/find.xml
apps/*/options/images.support.xml
apps/*/options/instant-run.xml
apps/*/options/jdk.table.xml
apps/*/options/log_highlighting.xml
apps/*/options/markdown.xml
apps/*/options/openinterminal.xml
apps/*/options/options.xml
apps/*/options/other.xml
apps/*/options/packages.xml
apps/*/options/path.macros.xml
apps/*/options/project.default.xml
apps/*/options/recentProjectDirectories.xml
apps/*/options/recentProjects.xml
apps/*/options/remote-servers.xml
apps/*/options/runner.layout.xml
apps/*/options/scratches.xml
apps/*/options/stubIndex.xml
apps/*/options/studioFlags.xml
apps/*/options/updates.xml
apps/*/options/usage.statistics.xml
apps/*/options/usageView.xml
apps/*/options/vim_local_settings.xml
apps/*/options/vim_settings.xml
apps/*/options/web-browsers.xml
apps/*/options/window.manager.xml
apps/*/options/window.state.xml
apps/*/options/workspace.xml
apps/*/port
apps/*/port.lock
apps/*/scratches
apps/*/settingsRepository
apps/*/tasks
apps/*/terminal/history
apps/*/user.token
apps/*/user.web.token
apps/*/workspace
apps/*/system

# omitted plugins files
shared/plugins/availables.xml
shared/plugins/availables.xml.etag
shared/plugins/extensions.xml
